html{
	font-size: 100.01%;
	overflow-x: hidden;
	scroll-behavior: smooth;
}

/*
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
*/

body{
	font-family: 'Roboto', sans-serif;
	overflow-x: hidden;
	min-height: 100vh;
	padding-top: 76px;
	font-weight: 400;
    line-height: 1.5;
	font-size: 15px;
	color: #252525;
}

*{
	outline: none !important;
}

.container{
	max-width: 1170px;
	width: 100%;
}
.container-md{
	max-width: 990px;
}
.container-xl{
	max-width: 1280px;
}
:focus{
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}
a, .btn, button, button:after, .nav-link:after, .nav-link img{
	-webkit-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
}
a{
	color: #000;
	text-decoration: none !important;
}
a:hover{
	color: #34aed5;
}
p a:hover, li a:hover, p a:focus, p a:active, .icon:hover{
	color: #34aed5 !important;
}
p{
	margin: 0 0 15px;
	font-weight: 400;
	line-height: 1.6;
	font-size: 18px;
	color: #828282;
}
strong{
	font-weight: bold;
}
sub, sup{
	font-size: 65%;
}
h1{
	font-size: 48px;
	font-weight: 700;
	margin-bottom: 0.55em;
}
h2{
	font-size: 38px;
	font-weight: 700;
	margin-bottom: 0.6em;
}
h2 span{
	font-weight: 300;
}
h3{
	font-size: 22px;
	font-weight: 700;
}
h4{
	font-size: 18px;
	font-weight: bold;
}
h5{
	font-size: 18px;
	font-weight: 500;
	line-height: 1.4;
}
.text-white p, .text-white h2{
	color: #fff !important;
}

.text-gray{
	color: #272727;
}
.text-blue{
	color: #34AED5;
}

.bg-blue{
	background-color: #34AED5;
}

.bg-green{
	background-color: #26AEAC;
}

.text-dark, .text-dark p{
	color: #000;
}

.py-60{
	padding-top: 60px;
	padding-bottom: 60px;
}

.py-80{
	padding-top: 80px;
	padding-bottom: 80px;
}

.color-grad{
	color: #fff !important;
	background: rgb(250,144,125);
	background: -moz-linear-gradient(90deg, rgba(250,144,125,1) 0%, rgba(255,211,146,1) 100%);
	background: -webkit-linear-gradient(90deg, rgba(250,144,125,1) 0%, rgba(255,211,146,1) 100%);
	background: linear-gradient(90deg, rgba(250,144,125,1) 0%, rgba(255,211,146,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fa907d",endColorstr="#ffd392",GradientType=1);
}
a.color-grad:hover, .slide-card:hover .color-grad{
	color: #fff !important;
	background: rgb(250,144,125);
	background: -moz-linear-gradient(120deg, rgba(250,144,125,1) 0%, rgba(255,211,146,1) 100%);
	background: -webkit-linear-gradient(120deg, rgba(250,144,125,1) 0%, rgba(255,211,146,1) 100%);
	background: linear-gradient(120deg, rgba(250,144,125,1) 0%, rgba(255,211,146,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fa907d",endColorstr="#ffd392",GradientType=1);
}

.header{
	top: 0;
	left: 0;
	width: 100%;
	z-index: 999;
	padding: 12px 0;
	position: fixed;
	box-shadow: 0 0 35px rgba(0, 0, 0, 0.15);
	font-family: 'Roboto Condensed', sans-serif;
}

.navbar-brand{
	padding: 0;
	margin-right: 20px;	
}
.navbar-brand img{
	max-height: 50px;
	width: 80px;
}
.navbar{
	top: 0;
}
.navbar-nav > li{
	margin-left: 10px;
}
.navbar-nav > li > a, .header-control > a{
	text-transform: uppercase;
	font-weight: 700;
	font-size: 18px;
	color: #000;
}
.navbar-nav a:hover, .header-control a:hover, .navbar-nav a.show{
	color: #34aed5;
}

.show.dropdown-toggle::after{
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}

.dropdown-toggle::after{
	background: transparent url('../images/nav-arrow.svg') no-repeat center / contain;
	vertical-align: -1px;
	margin-left: 8px;
	height: 14px;
	border: none;
	width: 14px;
}

.header-control > *{
	margin-right: 30px;
}

.dropdown-menu{
	border: none;
	border-radius: 0;
	border-top: 3px #34aed5 solid;
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.16);
}
.dropdown-menu a{
	background-color: transparent !important;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-size: 15px;
	color: #272727;
	margin: 5px 0;
}

.dropdown-location .btn{
	color: #000;
	padding-top: 8px;
	font-weight: 700;
	box-shadow: none;
	border-radius: 5px;
	padding-left: 15px;
	padding-right: 15px;
	border: 1px solid #26AEAC;
	text-transform: uppercase;
	font-family: 'Roboto Condensed', sans-serif;
}
.dropdown-location .btn:hover, .dropdown-location .btn.show{
	background-color: #26AEAC;
	color: #fff;
}
.dropdown-location .btn:hover:after, .dropdown-location .btn.show:after{
	filter: invert(1);
}

.search-icon{
	width: 52px;
	height: 52px;
	display: -webkit-inline-flex;
	display: -moz-inline-flex;
	display: -ms-inline-flex;
	display: -o-inline-flex;
	display: inline-flex;
	line-height: 52px;
	text-align: center;
	border-radius: 52px !important;
}
.search-icon img{
	width: 22px;
	height: 19px;
	margin: auto;
}

.footer{
	color: #000;
	background: #fff;
	position: relative;
	padding: 50px 0 40px;
	border-top: 1px solid #8B8B8B;
}
.footer:before{
	border-radius: 50px 0 0 50px;
	background: #34AED5;
	position: absolute;
	height: 80px;
	content: '';
	width: 40px;
	top: 35px;
	right: 0;
}
.footer p{
	color: inherit;
	font-size: 14px;
	margin-bottom: 25px;
}

.footer h3{
	margin-bottom: 15px;
}

.footer ul{
	list-style-type: none;
	padding: 0;
}
.footer a{
	color: #000;
	font-size: 16px;
}
.footer ul li{
	margin-bottom: 8px;
}

.footer-logo{
	width: 80px;
	max-height: 50px;
	margin-bottom: 20px;
}

.social-icons a{
	width: 34px;
	color: #fff;
	height: 34px;
	margin-top: 5px;
	line-height: 36px;
	margin-right: 8px;
	text-align: center;
	border-radius: 32px;
	background: #34aed5;
}
.social-icons a:hover{
	background-color: #fa907d;
}

.input-group-email{
	background-color: #efefef;
	border-radius: 5px;
	padding: 10px 12px;	
}
.input-group-email input{
	color: #000;
	font-size: 16px;
}

.input-group-email input::-webkit-input-placeholder {
  color: #000;
}
.input-group-email input:-ms-input-placeholder {
  color: #000;
}
.input-group-email input::placeholder {
  color: #000;
}

.btn-arrow{
	border-radius: 40px !important;
	text-align: center;
	line-height: 40px;
	height: 40px;
	width: 40px;
}
.btn-arrow img{
	max-width: 52%;
	display: inline-block;
}
.btn-arrow-shadow{
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}
.btn-read{
	border: 1px solid #000000;
	padding: 10px 18px;
	border-radius: 6px;
	font-weight: 700;
	font-size: 17px;
	color: #272727;
}
.btn-read:hover{
	background: #26AEAC;
	border-color: #26AEAC;
	color: #fff;
}
.btn-read .btn-arrow{
	width: 36px;
	height: 36px;
	line-height: 36px;
	margin-left: 14px;
}

.copyright{
	border-top: 1px solid #8B8B8B;
	padding-top: 30px;
	margin-top: 40px;
}
.copyright strong{
	font-weight: 500;
}
.copyright p{
	font-size: 14px;

	margin: 0;
}


/* banner */
.banner-area{
	background-position: center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	padding-top: 65px;
	min-height: 445px;
}
.banner-area h1{
	text-shadow: 0 3px 15px rgba(0,0,0,0.19);
	margin-bottom: 25px;
}
.banner-area h1 strong{
	color: #FFB57B;
	font-weight: 700;
	font-size: 1.05em;
}

.input-group-mSearch{
	padding: 10px 12px;
	border-radius: 50px;
	background: #fff;
}

/* slider */
.banner-slider{
	margin-top: -120px;
}
.slider-item{
	padding: 22px 15px 25px;
}
.slide-card{
	color: #000;
	display: block;
	font-size: 18px;
	font-weight: 700;
	position: relative;
	border-radius: 20px;
	text-decoration: none;
	background-color: #fff;
	-webkit-box-shadow: 0 0 12px 10px rgba(0, 0, 0, 0.14);
	box-shadow: 0 0 12px 10px rgba(0, 0, 0, 0.14);
}
.card-shape-1{
	width: 285px;
	height: 200px;
	overflow: hidden;
}
.card-shape-1 .slide-card-image{
	filter: drop-shadow(0px 0px 25px rgba(0,0,0,0.15));
	position: absolute;
	max-height: 140px;
	max-width: 140px;
	bottom: 0;
	left: 0;
}
.card-shape-1 .btn{
	position: absolute;
	bottom: 25px;
	z-index: 1;
	right: 25px;
}
.card-shape-1 strong{
	position: absolute;
	right: 15px;
	left: 110px;
    top: 30px;
}
.card-shape-2{
	margin-top: 80px;
	width: 240px;
	height: 250px;
}
.card-shape-2 .slide-card-image{
	filter: drop-shadow(0px 12px 25px rgba(0,0,0,0.25));
	position: absolute;
	max-height: 170px;
	max-width: 180px;
	bottom: 150px;
	margin: auto;
	right: 0;
	left: 0;
}
.card-shape-2 strong{
	position: absolute;
	line-height: 1.4;
	max-width: 65%;
	right: 15px;
	width: 80%;
	left: 20px;
	top: 120px;
}
.card-shape-2 .btn{
	position: absolute;
	bottom: 20px;
	left: 20px;
}
.card-shape-2:hover .btn{
	width: 80%;
}
.card-shape-2:hover .btn img{
	width: 30px;
}

.card-shape-3{
	padding: 15px 20px;
	width: 240px;
	height: 260px;
}
.card-shape-3 .slide-card-image{
	margin-bottom: 15px;
	height: 160px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.card-shape-1 .slide-card-image{
	-webkit-transform-origin: center left;
	-moz-transform-origin: center left;
	-ms-transform-origin: center left;
	-o-transform-origin: center left;
	transform-origin: center left;
}
.card-shape-3 .slide-card-image img, .slide-card .slide-card-image{
	-webkit-transition: all 0.25s linear;
	-o-transition: all 0.25s linear;
	transition: all 0.25s linear;
	-webkit-transform: scale(1) translateY(0px);
	-ms-transform: scale(1) translateY(0px);
	-o-transform: scale(1) translateY(0px);
	transform: scale(1) translateY(0px);
}
.card-shape-3 .slide-card-image img{
	filter: drop-shadow(0px 10px 26px rgba(255, 98, 84, 0.1));
	max-height: 85%;
	margin: auto;
}
/*.card-shape-3:hover .slide-card-image img, */
.slide-card:hover .slide-card-image{
	-webkit-transform: scale(1.08) translateY(-5px);
	-ms-transform: scale(1.08) translateY(-5px);
	-o-transform: scale(1.08) translateY(-5px);
	transform: scale(1.08) translateY(-5px);
}
.card-shape-3 .d-flex{
	min-height: 50px;
}
.card-shape-3 .btn{
	margin-left: auto;
}
.card-shape-3 strong{
	max-width: 60%;
	line-height: 1.3;
	font-weight: 400;
}

.slick-arrows img{
	width: 28px;
	height: 28px;
	display: block;
}
.slick-arrows-white img{
	filter: brightness(3);
}
.slick_next{
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}
.slick-disabled{
	opacity: 0.5;
}
.work-group img{
	max-width: 50px;
	max-height: 50px;
	margin-bottom: 15px;
}
.work-group h5{
	max-width: 230px;
	width: 100%;
}
.section-title h2{
	max-width: 75%;
	font-size: 32px;
	text-transform: uppercase;
}
.section-title h3{
	font-size: 22px;
}

.browseby_age{
	padding-top: 100px;
	margin-bottom: 80px;
	padding-bottom: 70px;
	background: #fff url('../images/big-grad-circle.svg') no-repeat center left -50% / contain;
}

.shape-top-right{
	position: absolute;
	max-width: 200px;
	right: -80px;
	top: -35px;
}
.shape-bottom-left{
	position: absolute;
	max-width: 200px;
	left: -80px;
	bottom: -45px;
}
.shape-bottom-right{
	position: absolute;
	max-width: 200px;
	right: -80px;
	bottom: -45px;
}

.browseby_category{
	padding-top: 75px;
	padding-bottom: 120px;
	background: #fff url('../images/bb-category-bg.svg') no-repeat center bottom / cover;
}
.browseby_category_cards{
	padding-left: 100px;
	margin-top: -240px;
}
.browseby_category_cards > div:first-child{
	margin-left: 25px;
}

.browseby_category .section-title p{
	max-width: 80%;
}

.blog-item{
	text-decoration: none;
	font-weight: 400;
	font-size: 22px;
	color: #000;
	margin: 10px 0;
}
.blog-item img{
	-webkit-flex: 0 0 30%;
	-moz-flex: 0 0 30%;
	-ms-flex: 0 0 30%;
	-o-flex: 0 0 30%;
	flex: 0 0 30%;
	max-width: 30%;
	margin-right: 30px;
	border-radius: 15px;
}
.blog-item span{
	max-width: 50%;
}
.section-search .shape-bottom-left{
	width: 80px;
	bottom: 15px;
	left: -35px;
}
.section-search{
	padding: 65px 0 85px;
	background-color: #34AED5;
}

.btn-white{
	background: #fff;
	color: #26AEAC;
}

.input-group-search .form-control{
	background-color: transparent;
	border-width: 0 0 1px 0;
	border-color: #fff;
	border-radius: 0;
	font-weight: 300;
	font-size: 22px;
	height: 50px;
	color: #fff;
	padding: 0;
}
.input-group-search .form-control::-webkit-input-placeholder {
  color: #fff;
}
.input-group-search .form-control:-ms-input-placeholder {
  color: #fff;
}
.input-group-search .form-control::placeholder {
  color: #fff;
}
.input-group-search .btn{
	width: 50px;
	height: 50px;
	font-size: 18px;
	padding-top: 3px !important;
	margin-left: 25px !important;
	border-radius: 50px !important;

}

.image-circle{
	width: 90%;
	border-radius: 50%;
	position: relative;
	padding-bottom: 90%;
	background-size: cover;
	-webkit-background-size: cover;
	background-position: center center;
}
.image-circle img{
	position: absolute;
	max-width: 130px;
	bottom: 2px;
	right: 2px;
}

.signature{
	font-family: 'Caveat', cursive;
	font-size: 36px;
}
.signature span{
	-webkit-transform: rotate(-10deg) translateY(-15px);
	-ms-transform: rotate(-10deg) translateY(-15px);
	-o-transform: rotate(-10deg) translateY(-15px);
	transform: rotate(-10deg) translateY(-15px);
	display: inline-block;
}

.inner-banner-area{
	padding-top: 48px;
	margin-bottom: 60px;
	-webkit-background-size: 54% auto;
	background-size: 54% auto;
	background-position: top right -10%;
	background-repeat: no-repeat;
}
.inner-banner-image{
	display: block;
	position: relative;
	max-width: 360px;
	margin: auto;
	width: 100%;
}
img.banner-image{
	max-width: 100%;
	display: block;
	width: 100%;
}
div.banner-image{
	background-position: center center;
	-webkit-background-size: cover;
	background-repeat: no-repeat;
	background-size: cover;
	padding-bottom: 100%;
	border-radius: 100%;
	max-width: 100%;
	display: block;
	width: 100%;
}
img.banner-shape{
	position: absolute;
	max-width: 120px;
    bottom: 10%;
    left: -30px;
}

.inner-banner-area h1{
	text-transform: uppercase;
}

.inner-banner-area ul{
	list-style-type: none;
	padding: 0;
	margin: 0;
}

ul.category_menu{
	display: inline-block;
	font-size: 18px;
}
ul.category_menu > li{
	margin-bottom: 10px;
	position: relative;
	padding-left: 20px;
}
ul.category_menu > li:before{
	background: transparent url('../images/cat_arrow.svg') no-repeat center / contain;
	position: absolute;
	height: 13px;
	width: 10px;
	content: "";
	z-index: 2;
	top: 6px;
	left: 0;
}
ul.category_menu > li.subcategory_item:after{
	-webkit-transition: all 0.35s linear;
	-o-transition: all 0.35s linear;
	transition: all 0.35s linear;
	background: transparent url('../images/cat_arrow_right.svg') no-repeat center / contain;
	position: absolute;
	visibility: hidden;
	height: 15px;
	width: 11px;
	content: "";
	opacity: 0;
	z-index: 2;
	top: 7px;
	right: 5%;
}
ul.category_menu > li:hover:after{
	right: 0;
	opacity: 1;
	visibility: visible;
}
ul.category_menu a{
	color: #000;
	display: block;
	padding-right: 20px;
}
ul.category_menu li:hover > a{
	color: #34AED5;
}

.subcategory_menu{
	-webkit-transition: all 0.35s linear;
	-o-transition: all 0.35s linear;
	transition: all 0.35s linear;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	-webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.16);
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.16);
	border-left: 3px solid #34AED5;
	padding: 10px 20px !important;
	position: absolute;
	visibility: hidden;
	background: #fff;
	opacity: 0;
	left: 95%;
}
li:hover .subcategory_menu{
	left: 100%;
	opacity: 1;
	visibility: visible;
}
.subcategory_menu a{
	color: #272727;
	font-size: 15px;
	white-space: nowrap;
	padding-right: 0 !important;
}
.subcategory_menu li{
	margin: 8px 0;
}

ul.category_menu > li:nth-child(1) .subcategory_menu, 
ul.category_menu > li:nth-child(2) .subcategory_menu{	
	-webkit-transform: translateY(-30%);
	-ms-transform: translateY(-30%);
	-o-transform: translateY(-30%);
	transform: translateY(-30%);
}
ul.category_menu > li:nth-last-child(-n+2) .subcategory_menu{	
	-webkit-transform: translateY(-80%);
	-ms-transform: translateY(-80%);
	-o-transform: translateY(-80%);
	transform: translateY(-80%);
}

.most-popular{
	background: transparent url('../images/most-popular.png') no-repeat center bottom / cover;
}

/*search result page*/
.search-result-bg{
	padding: 2% 0;
}
.search-heading span{
	font-size: 23px;
	display: block;
	width: 74%;
}
.text-white span{
	color: #fff;
}
.heading-box{
	border-bottom: 1px solid #fff;
	display: inline;
	width: 100%;
}
.searched-para{
	color: #8C8C8C;
	font-size: 18px;
	width: 76%;

}
.image-box{
	width: 50px;
	height: 50px;
}
.text-align-right{
	text-align: right;
}
.search-unit{
    margin: 2% 3%;
	border: 1px solid #D8D8D8;
    padding: 4% 3%;
	border-radius: 6px;


}
.unit-icon{
	font-style: italic;
	font-size: 18px;
}
.pagination{
	align-items: center;
	justify-content: center;
	border: 1px solid;
    border-radius: 26px;

}
.search-pages{
	border-radius: 15px;
	width: 23%;
    margin: 0 auto;

}
.page-box-item{
	width: 26px;
	height: 26px;
}
.pagination-no-border-radius .page-item .page-link{
  border: 0 !important;
  font-weight: 500;
  color: #000;
}
.page-item.active .page-link{
	color: #34AED5;
	background-color: #fff;
}
.pagination a:hover,
.pagination .active a {
    background-color: #fff;
    color: #ffffff;
}
.btn-category{
	background-color: #fff;
	color: #000;
	display: inline-block;
}
.filter-by-categories{
	display: inline-block;
	margin-right: 3px;
}
.filter-by-categories .dropdown{
	display: inline-block;
}
.blog-paragraph{
	width: 44%;
    margin: 0 auto;
	font-size: 15px;
}
.blog-background{
	padding: 2% 0;

}
.filter-by{
	margin: 2% 0;
}
.filter-by span{
	font-weight: 500;
	font-size: 18px;
}
.card .card-title{
	min-height: 75px;
}
.card .card-text{
	font-size: 17px;
}
.blog-image{
	width: 100%;
}
.unit-background{
	background-color: #F2F2F2;
}
.card-container{
	padding: 2% 0;
}
.blog-unit-content h4{
	font-size: 25px;
}
.blog-unit-content p{
	color: #000;
}
.blog-links a{
	color: #fff;
}
/* blog details page */
.details-image{
	width: 100%;
}
.details-content{
	margin-top: -12px;
}
.white-container{
	position: relative;
    margin-top: -5%;
    background-color: white;
    border-radius: 10px;
    padding: 2% 5% 3% 5%;
    border: 1px solid #D5D5D5;
    width: 74%;

}
.details-text .details-text-image{
	width: 100%;
}
.details-text h3{
	font-size: 25px;
}
.text-heading p, .details-text p{
	color: #000;
}
.details-text ul{
	margin: 0 0 15px;
    font-weight: 400;
    line-height: 1.6;
    font-size: 18px;
    color: #828282;
	list-style-type: none;
	padding: 0;
}
.details-caret-right{
	margin-right: 4px;
	color: #000;

}
.details-list b{
	color: #000;
	font-size: 19px;
}	
.details-list li{
	margin-bottom: 17px;
}
/* .details-list li::before{
	content: '\f0da'; 
	font-family: "Font Awesome 5 Free";
} */
.details-icons{
	position: absolute;
    left: 8%;
    width: 6%;
    margin-top: 8%;
}
.facebookIcon{
    background-color: #3B5998;
    display: inline-block;
    color: white;
    padding: 4px 12px;
    border-radius: 20px;
    font-size: 20px;
    margin: 5px;
}
.twitterIcon{
    background-color: #039BE5;
    color: white;
    margin: 5px;
    display: inline-block;
    padding: 4px 9px;
    border-radius: 21px;
    font-size: 20px;
}
.instagramIcon{
    background-image: linear-gradient(to bottom, #CF37CF , #E8647C);
    color: white;
    margin: 5px;
    display: inline-block;
    padding: 4px 11px;
    border-radius: 21px;
    font-size: 20px;
}
.emailIcon{
    background-color: #BBBBBB;
    color: white;
    margin: 5px;
    display: inline-block;
    padding: 4px 9px;
    border-radius: 21px;
    font-size: 20px;
}
.text-heading h1{
	font-size: 38px;
}
.white-container .caret-links{
	position: absolute;
    color: white;
    top: -30px;
    font-size: 18px;
    font-style: italic;
    font-weight: 400;
    left: 5px;
}
.unit-background .blog-links{
	position: absolute;
    /* top: -1px; */
    /* margin-top: -2%; */
	bottom: 1%;
    color: #fff;
    font-size: 18px;
    margin-left: 21px;
    font-weight: 400;
    font-style: italic;
}
.card .blog-links{
	position: absolute;
	top:33%;
    color: #fff;
    font-size: 15px;
    margin-left: 21px;
    font-weight: 500;
    font-style: italic;
}
.greyer-text{
	color: #585858;
}
/* about us page */
.about-us-heading{
	width: 100%;
    margin: 0 auto;
    color: #fff;
    text-align: center;
    padding: 4% 0;
}
.about-us-text .grey-bg{
	background-color: #E8E8E8;
    padding: 2% 0;
    width: 70%;
    margin: 0 auto;
    text-align: center;
	border-radius: 5px;
}
.grey-bg .grey-section{
	border-right: 2px solid #D0D0D0;
}
.grey-section .img-box, .grey-section-right .img-box{
	width: 88px;
}
.grey-text-area .bold-text{
	font-size: 30px;
	font-weight: 500;
	float: left;
}
.get-data .img-circle{
	margin: 4% 0;
	width: 400px;
    height: 400px;
}
.get-data{
	
}
.get-data .get-data-text{
	text-align: left;
}
.about-us-text .about-us-para{
	color: black;
    padding: 4% 0;
    width: 83%;
    margin: 0 auto;
}
.black-text{
	color: #000;
}
.tally-team .tally-team-heading{

}
.get-data .get-data-text h3{
	font-size: 32px;
	margin: 4% 0;
}
.tally-team .tally-team-heading{
	text-align: center;
	width: 100%;
	margin-top: 0 auto;
}
.tally-team .tally-team-heading h3{
	font-size: 32px;
}
.tally-team .tally-team-heading p{
	width: 70%;
	margin:0 auto;
	color: #000;
}
.team-content .img-box{
	width: 44%;
    margin: 0 2%;
}
.team-content .team-content-text .content-names{
	margin: 0 0 15px;
    font-weight: 500;
    line-height: 1.6;
    font-size: 18px;
    color: #000;
	margin-bottom: 12px;
}
.as-uppercase{
	text-transform: uppercase;
	font-size: 15px;
}
.team-content .team-content-text p{
	padding: 12% 0;
	width: 85%;

}
.hexagon-to-right{
	position: absolute;
    max-width: 200px;
    right: -102px;
    top: 13%;
}
.about-search-background{
	color: white;
	background-color: #34AED5;
}
.about-search-background .search-content{
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 2% 0;
}
.no-border-input{
	border-width: 0 0 1px 0;
	width: 100%;
	background-color: transparent;
	font-size : 22px;
}
.btn-search-right{
	background-color: white;
	border-radius: 35px;
}
.contactus-background .img-box{
	width: 43%;
    position: absolute;
    right: -7%;
    top: 140px;
}
.contactus-content{
	padding: 6% 0;
}
.contactus-content p{
	width: 35%;
}
.contactus-background .right-polygon{
	position: absolute;
    width: 19%;
    right: -29px;
    /* top: 30px; */
    bottom: -18%;
}
.form-content{
	/* width: 51%; */
}
.form-content label{
	margin: 4px 0;
}
.login-form label{
	margin: 0;
	font-weight: 500;
	font-size: 18px;
}
.form-content .btn-send-message{
	background-color: #26AEAC;
	width: 100%;
	margin: 3% 0;
	border-radius: 33px;
	color: white;
	text-transform: uppercase;
	font-weight: 500;
	padding: 2% 0;
	display: flex;
	align-items: center;
	justify-content: center;
}
.form-content label{
	font-weight: 500;
}
.form-content .form-group .form-control{
	background-color: #F1F1F1;
	border-radius: 8px;
    border-width: 0;
	/* padding: 3% 5px; */
    font-size: 18px;
}
.login-form .form-group .form-control{
	background-color: #F1F1F1;
    border-radius: 8px;
    border-width: 0;
    padding: 2% 1%;
    font-size: 18px;
}
.form-content .icon-right, .login-form .icon-right, .register-form-box .icon-right{
	margin: 0px 1%;
    font-size: 12px;
    padding: 1px 11px;
}
.form-bottom-text{
	width: 50%;
}
.form-bottom-text a{
	color:#26AEAC;
	text-decoration: underline !important;
}
.form-content .form-group{
	margin: 1% 0;
}
.form-content .grey-bar{
	border-bottom: 1px solid #C9C9C9;
	padding: 1% 0;
}
.login-background{
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 4% 0;
	color: #fff;
}
.login-form .btn-login{
	background-color: #26AEAC;
	width: 100%;
	margin: 3% 0;
	border-radius: 33px;
	color: white;
	text-transform: uppercase;
	font-weight: 500;
	padding: 3% 0;
	display: flex;
	align-items: center;
	justify-content: center;
}
.login-form .form-group{
	margin: 2% 0;
}
.login-form{
width: 50%;
margin: 0 auto;
}
.form-check-input:checked{
	background-color: #34AED5;
}
.login-form a{
	color: #34AED5;
	/* text-decoration: underline !important; */
	font-weight: 500;
	font-size: 18px;
	border-bottom-style: solid;
	border-bottom-width: 2px;
}
.login-heading-content p{
	width: 75%;
	color:#fff;
	margin: 0 auto;
}
.login-form .form-group{
	margin: 14px 0;
}
.login-form .custom-check-login{
	margin: 4% 0;
}	
.form-check .form-check-input{
	width: 19px;
	height: 19px;
	margin-right: 19px;
}
.login-side-polygon{
	position: absolute;
    right: -14%;
    bottom: 32%;
    width: 23%;
}
.login-left-poly{
	position: absolute;
    left: -84px;
    bottom: -17%;
    width: 14%;
    z-index: 1;
}
.sign-up-links{
	/* text-decoration: underline !important; */
	color: #34AED5;
	font-weight: 500;
	border-bottom-width: 2px;
	border-bottom-style: solid;
}
.not-registered-yet p{
	color: #000;
	margin-top: 3%;
	margin-bottom: 5%;
}
.register-bg{
	width: 100%;
	margin: 0 auto;
	text-align: center;
	color: #fff;
	padding: 2% 0;
}
.register-bg p{
    width: 38%;
	color: #fff !important;
	text-align: center;
	margin: 0 auto;
}
.bold-text{
	font-weight: 400;
}
.sign-up-with .grey-background{
	background-color: #F1F1F1;
	border-radius: 5px;
    padding: 5% 9%;

}
.sign-up-with .sign-up-with-icons{
	width: 11%;
}
.sign-up-with{
	/* margin: 0 auto;
	text-align: center;
	width: 100%; */
	padding: 4% 1%;
	width: 52%;
	margin: 0 auto;
}
.sign-up-with p{
	color: #7A7A7A;
	padding: 0 !important;
	margin: 0 !important;
}
.horizontal-line-text{
	border-bottom: 1px solid #C9C9C9;
	text-align: center;
	height: 12px;
	width: 48%;
	margin: 0 auto;
}
.horizontal-line-text .or-text{
	background-color: white;
    padding: 7px 10px;
	color: #7A7A7A;
	font-weight: 500;
	
}
.btn-submit{
	background-color: #26AEAC;
	width: 100%;
	margin: 5% 0;
	border-radius: 33px;
	color: white;
	text-transform: uppercase;
	font-weight: 500;
	padding: 2% 0;
	display: flex;
	align-items: center;
	justify-content: center;
}
.register-form-box{ 
	width: 50%;
	margin: 0 auto;
}
.register-form-box .form-group{
	margin: 14px 0;
}
.register-form-box .form-control-style{
	background-color: #F1F1F1;
	padding: 2% 1%;
	color: #828282;
	font-size: 18px;
}
.register-form-box label{
	font-size: 18px;
	font-weight: 500;
}
.register-form-box .form-check .form-check-input{
	width: 24px;
	height: 23px;
	margin-right: 19px;
}
.register-form-box .form-check-label{
	width: 76%;
}
.register-polygon{
	position: absolute;
    left: -8%;
    bottom: -39%;
    width: 15%;
}

.already-a-member p{
	color: #000;
	text-align: center;
	margin-bottom: 3%;
    margin-top: 2%;
}
.already-a-member a{
	color:#26AEAC ;
	border-bottom-width: 2px;
	border-bottom-style: solid;
}
.profile-heading{
	margin: 0 auto;
	width: 100%;
	text-align: center;
	color: #fff;
	padding: 3% 0;
}
.profile-heading p{
	color: #fff;
	width: 35%;
	margin: 0 auto;
}
.my-interest h2{
	text-transform: uppercase;
}
.border-plan{
	border: 1px solid black;
	display: inline-block;
    padding: 8px 20px;
	border-radius: 5px;
	color: #000;
}
.fill-background{
	background-color: #34AED5;
	color: #fff;
	border-radius: 30px;
    padding: 12px 43px;
}
.update-profile-links a{
	font-size: 18px;
}
.update-profile-links .fill-background:hover{
	color: #fff	!important;
}
.update-profile-links .fill-border{
	border-radius: 30px;
	color: #34AED5;
	border-style: solid;
	border-width: 1px;
	border-color: #34AED5;
    padding: 12px 43px;

}
.fill-border:hover{
	color: #34AED5 !important;
}